<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.groupsavings" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-permission android:name="android.permission.INTERNET" />
        <activity
            android:name="org.groupsavings.activities.LoginActivity"
            android:label="@string/title_activity_login" >
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.groupsavings.activities.GroupsGridActivity"
            android:label="@string/title_activity_groups_grid"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="org.groupsavings.activities.AddGroupActivity"
            android:label="@string/title_activity_add_group" >
        </activity>
        <activity
            android:name="org.groupsavings.activities.GroupLandingActivity"
            android:label="@string/title_activity_group_landing"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>
